<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aplicacion</title>
  <!-- Enlace a Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1>Nombre: Jhon michael montes afanador</h1>
  <a href="http://localhost:8021/h2-console/login.jsp?jsessionid=caa49331a7fa41e0e950ce34a2ffb712" class="btn btn-primary">Ir a H2</a>
  <a href="/Verclub/formClub" class="btn btn-primary">Crear club</a>
  <a href="/VerAsociacion/formAsociacion" class="btn btn-primary">Crear Asociacion</a>
  <a href="/verCompeticion/formCompeticion" class="btn btn-primary">Crear Competicion</a>
  <a href="/verEntrenador/formEntrenador" class="btn btn-primary">Crear Entrenador</a>
  <a href="/VerJugador/formJugador" class="btn btn-primary">Crear Jugador</a>
</div>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>